.cards {
    color: white !important;
    display: inline-block;
    transition: transform .2s;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0.19rem;
    cursor:pointer;
    min-width:200px;
    height: 220px;
    z-index:0;
    border: 1px solid rgb(99, 99, 99);
}

.cards__img {
    max-width: 220px;
    height: 220px;
}

.card__title {
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.cards__overlay {
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    bottom: 0px;
    height: 220px;
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 0;
    transition: opacity .2s;
}   

.card__runtime {
    font-size: .75rem;
    margin-bottom: 0.25rem;
}


.cards__overlay:hover {
    opacity: 1;
}

.card__rating {
    float: right;
}

.card__description {
    font-style: italic;
    font-size: .65rem;
    margin-bottom: 0.25rem;
}